.navbar{
  display: flex;
  justify-content: space-between;
  background-color: rgb(240, 178, 120);
}
.site_name{
  padding: 5px 30px;
  color: #e74c3c;
}
.site_menu{
  padding: 10px 30px;
  margin-left: 100px;
}
a{
  text-decoration: none;
  color: #212f3d;
  margin: 0px 10px;
}